@media (max-width:800px){
    .hide{
        display: block;
    }
    .hideIt{
        display: none;
    }
    .buyIt{
        margin-top: 50px;
        width: 100%;
        margin: auto;
    }
    section > .container{
        justify-content: center;
    }
    .flexIt{
        display: none;
    }
    .lefty h2{
        font-size: 32px;
        line-height: 32px;
    }
    .details{
        ul{
            padding-left: 30px;
            flex-direction: column;
            background-color: white;
            align-items: flex-start;
            gap: 30px;
        }
    }
    .main{
        .bigcard{
            order: 2;
            img{
                width: 90%;
            }
        }
        .lefty{
            order: 1;
        }
        .sb{
            display: none;
        }
        .aspects{
            display: none;
        }
    }
    table{
        tr:not(:first-child,:nth-child(2)){
            display: none;
        }
        tr{
            display: flex;
            flex-direction: column;
            align-items: center;
            button{
                width: 90%;
                margin: auto;
            }
        }
    }
    section{
        padding-left: 2px;
        padding-right: 2px;
    }
}